/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
html,
body {
    height: 100vh;
    font-family: 'Raleway', sans-serif;
font-family: 'Sora', sans-serif;
}

body {
    margin: 0;
    font-family: 'Raleway', "Helvetica Neue", sans-serif;
}

.text-center {
    text-align: center;
}

.mt {
    margin-top: 20px;
}