<div class="container">
  <div class="wrapper">
    <div class="text"><h2>Welcome, Please fill your details to Login!</h2></div>
    <form class="form">
      <div class="input">
        <input
          name="username"
          placeholder="Enter Username"
          type="text"
          required
        />
      </div>
      <div class="input">
        <input
          name="password"
          placeholder="Enter Password"
          type="text"
          required
        />
      </div>
      <div class="btn-div">
        <button name="submit" class="btn-submit" value="login">
          <span>Login</span>
        </button>
      </div>
    </form>
  </div>
</div>
