.container{
    margin: 0;
    padding: 0;
    min-height: 20vh;
    width: 100%;
        table{
        width: 100%;
        display: block;
        white-space: nowrap;
        table-layout: inherit;
        justify-content:center;
        border: none;
        td {    
            width: 100%;
            background-color:yellow;
            padding: 5px 10px;
            border: none;
            margin-left: 50px;
            font-family: 'Sora' ,sans-serif;
            letter-spacing: 2px;
            background-color: #EEEEEE;
            font-size: 1.5rem;
            background-color: whitesmoke;
            border-bottom: 1px solid #EEEEEE;
            color: #487676;
        }
    }
}
