.container {
  margin: 0;
  padding: 0;
  width: 100%;
  .wrapper {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    .table1 {
      display: flex;
      flex-direction: column;
      width: 100%;
      min-height: 200px;
      padding: 20px 0;
      .heading {
        max-width: 150 * 5px;
        margin-bottom: 20px;
        text-align: center;
        h3 {
          font-size: 1.8rem;
          letter-spacing: 2px;
          color: #5b96a9;
          font-family: "Raleway", "sans serif";
        }
      }
      table {
        width: 100%;
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        table-layout: auto;
        border: none;
        th {
          min-width: 150px;
          background-color: #78bfdb;
          border-radius: 4px;
          color: #ddffff;
          font-weight: 500;
          font-size: 1.2rem;
          padding: 5px;
          font-family: "Raleway", sans-serif;
          letter-spacing: 1px;
        }
      }
    }
  }
}
