<div class="container">
  <div class="wrapper">
    <div class="table1">
      <div class="heading">
        <h3>AVAILABLE STOCK LIST</h3>
      </div>
      <table>
        <tr>
          <th>checkbox</th>
          <th scope="col">Asset</th>
          <th scope="col">Available Units</th>
          <th scope="col">Current Price</th>
          <th scope="col">Units to be Sold</th>
        </tr>
      </table>
      <app-view-each-stock
        *ngFor="let stock of stockDetailList1"
        [stock]="stock"
        (removeEvent)="remove($event)"
        (addEvent)="add($event)"
      ></app-view-each-stock>
    </div>
    <div class="table1">
      <div class="heading"><h3>Available Mutual Fund</h3></div>
      <table>
        <tr>
          <th>checkbox</th>
          <th scope="col">Asset</th>
          <th scope="col">Available Units</th>
          <th scope="col">Current Price</th>
          <th scope="col">Units to be Sold</th>
        </tr>
      </table>
      <app-view-each-mutual
        *ngFor="let mutualFund of mutualFundl"
        [mutual]="mutualFund"
        (removeEvent)="remove($event)"
        (addEvent)="add($event)"
      ></app-view-each-mutual>
    </div>
    <div class="table1">
      <div class="heading"><h3>Selected Units</h3></div>
      <table>
        <tr>
          <th>Asset Name</th>
          <th>Units to be Sold</th>
        </tr>
        <tr *ngFor="let asset of saleAsset">
          <td>{{ asset.assetName }}</td>
          <td>{{ asset.soldUnits }}</td>
        </tr>
      </table>
      <p><button (click)="sellAsset()" mat-raised-button>sell</button></p>
      <div class="status text-center">
        <a *ngIf="!assetSaleResponse.saleStatus">
          <div *ngFor="let item of assetSaleResponse.map | keyvalue">
            <span
              >You have Entered Wrong units for AssetName:
              <b>{{ item.key }} </b> i.e Units: <b>{{ item.value }}</b></span
            >
          </div>
        </a>
        <a *ngIf="assetSaleResponse.saleStatus">
          <b>Successfully sold...</b>
          <br />
        </a>
        <b *ngIf="sell"
          >After Selling Balance is : {{ assetSaleResponse.networth }}</b
        >
      </div>
    </div>
  </div>
</div>
