<div class="container">
  <div class="wrapper">
    <div class="table1">
      <div class="header">
        <h3>Available Stock List</h3>
      </div>
      <div class="table">
        <table>
          <tr>
            <th>checkbox</th>
            <th scope="col">Asset</th>
            <th scope="col">Available Units</th>
            <th scope="col">Current Price</th>
            <th scope="col">Units to be Sold</th>
          </tr>
        </table>
        <app-view-each-stock
          *ngFor="let stock of stockDetailList1"
          [stock]="stock"
          (removeEvent)="remove($event)"
          (addEvent)="add($event)"
        ></app-view-each-stock>
      </div>
    </div>
  </div>
</div>
