.container {
  display: flex;
  width: 100%;
  height: 64px;
  background-color: #caf0f8;
  justify-content: space-between;
  align-items: center;
  
  .part1 {
    margin-left: 10px;
    a {
      text-decoration: none;
      cursor: pointer;
      letter-spacing: 1px;
      color:#118ab2; 
      font-weight: 700;
      font-size: 1.3rem;
      font-family: 'Raleway' ,'sans serif';
    }
  }
  .part2 {
    margin-right: 15px;
    a {
      text-decoration: none;
      font-size: 1.3rem;
      font-family: 'Raleway' ,'sans serif';
      cursor: pointer;
      letter-spacing: 1px;
      color:#118ab2;
      font-weight: 700;
    }
  }
}

@media (max-width:952px) {
  .container{
    .part1{
      a{
        font-size: 0.8rem;
      }
    }
    .part2{
      a{
        font-size: 0.8rem;
      }
    }
  }
}
